---
title: disable-automatic-maintenance
description: disable-automatic-maintenance
privilege: TrustedInstaller
option: disable-automatic-maintenance
actions:

    # === Automatic Maintenance - Disabled
    # ------> https://www.tenforums.com/tutorials/40119-enable-disable-automatic-maintenance-windows-10-a.html
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Schedule\Maintenance', value: 'MaintenanceDisabled', type: REG_DWORD, data: '1'}
    # === Configure Scheduled Maintenance Behavior - Disabled
    # ------> https://admx.help/?Category=Windows_11_2022&Policy=Microsoft.Policies.ScheduledDiagnostics::ScheduledDiagnosticsExecutionPolicy
  - !registryValue: {path: 'HKLM\SOFTWARE\Policies\Microsoft\Windows\ScheduledDiagnostics', value: 'EnabledExecution', type: REG_DWORD, data: '0'}
