---
title: disable-logging
description: disable-logging
privilege: TrustedInstaller
actions:

  # === Disable Office logging on background when installed
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\ClickToRun\OverRide', value: 'DisableLogManagement', type: REG_DWORD, data: '1'}
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Office\ClickToRun\Configuration', value: 'TimerInterval', type: REG_SZ, data: '900000'}
  
  # === Disable RSoP Logging (Group policy)
  # ------> It's enabled by default; disabling it might improve boot times and reduce disk io overhead
  - !registryValue: {path: 'HKLM\SOFTWARE\Policies\Microsoft\Windows\System', value: 'RSoPLogging', type: REG_DWORD, data: '0'}
